.funny-container {
  background-color: white;
  margin: 10px;
  padding: 20px;
}
  
.saying-container {
  background-color: white;
  color: grey;
  margin: 10px;
  padding: 20px;
  border: grey;
  border-style: solid;
}

.quote {
  font-size: 20pt;
  color: brown;
}

.author {
  font-size: 16pt;
  font-style: italic;
}

.context {
  font-size: 14pt;
}
